.Searchbar {
  top: 0;
  left: 0;
  position: sticky;
  z-index: 1100;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 64px;
  margin-bottom: 24px;
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: var(--bg-color);
  background-color: var(--theme-color);
  box-shadow: 0px 2px 5px rgb(0 0 0 / 12%);
  transition: 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.SearchForm {
  position: relative;
  margin-right: 24px;
}

.SearchForm-button {
  position: absolute;
  top: 50%;
  right: 3px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 0;
  border-radius: 50%;
  background-color: var(--button-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.SearchForm-button:hover,
.SearchForm-button:focus {
  background-color: var(--theme-color-hover);
}

.SearchForm-button-label {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  clip-path: inset(50%);
  border: 0;
}

.SearchForm-input {
  display: inline-block;
  padding: 10px 50px 10px 20px;
  width: 270px;
  border: 0;
  border-radius: 25px;
  outline: none;
  background-color: var(--bg-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.SearchForm-input,
.SearchForm-input::placeholder {
  color: var(--text-color);
  font: 16px/3 sans-serif;
  line-height: 1.5;
}

.SearchForm-icon {
  width: 25px;
  height: 25px;
  color: var(--bg-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* THEME SWITCHER */

.ThemeSwitcher {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  margin-right: 24px;
  width: 25px;
  height: 25px;
}

.ThemeSwitcher-checkbox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35px;
  height: 35px;
  cursor: pointer;
  opacity: 0;
  z-index: 1;
}

.ThemeSwitcher-checkbox:checked ~ .SearchForm-icon--sun {
  opacity: 0;
  transform: translateY(-25px);
}

.ThemeSwitcher-checkbox:checked ~ .SearchForm-icon--moon {
  opacity: 1;
  transform: translateY(-27px);
}

.SearchForm-icon--moon {
  opacity: 0;
}

@media screen and (min-width: 480px) {
  .SearchForm-input {
    width: 300px;
  }

  .SearchForm {
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) {
  .SearchForm-input {
    width: 400px;
  }
}
